.navbar {
    border: 3px solid rgb(194, 192, 192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: auto;
    height: 60px;
    box-shadow: 0px 2px 12px #d5d7da;
  }
  
  .navbar_left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    padding: 30px;

  }
  
  .navbar_left b {
    color: rgb(100, 157, 249);
    margin: 0;
  }
  
  .navbar_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  
  .navbar_profile_search {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #f4f5f8;
    border: none; /* Suppression de la bordure */
    padding-left: 6px;
    border-radius: 6px;
  }
  
  .navbar_profile_search input {
    margin-left: 6px;
    border: none; /* Suppression de la bordure */
    background-color: transparent;
  }
  
  .navbar_profile_search input:focus {
    outline: transparent;
  }
  
  
  
  .navbar_profile_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(100, 157, 249);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
    height: 30px;
  }
  
  .navbar_profile_button:hover {
    border: 1px solid #056bf1;
  }
  
  
  .navbar_profile_image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .navbar_profile_search input::placeholder{
    border: none;
    color: #acb7c4;
    font-size: 12px;
  }